@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:          PHONES
600px - 900px:      TABLET PORTRAIT
900px - 1200px:     TABLET LANDSCAPE
1800px e su:        BIG DESKTOPS
*/
@mixin respond-phone {
  @media (max-width: 600px) {
    @content
  }
}
