/* RESET STYLE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ROOT ELEMENT FONT SIZE */
html {
  // defines value REM
  font-size: 62.5%;
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 60%;
  }
  @include respond(tab-land) {
    font-size: 70%;
  }
  @include respond(big-desktop) {
    font-size: 80%;
  }

}

/* FONT STYLE default */
body {
  box-sizing: border-box;
}
